@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family:"Popins";
        src: url("../src/assets/fonts/Poppins-Regular.ttf") format("truetype");
    }
    @font-face {
        font-family: "Vazir";
        src: url("../src/assets/fonts/Vazir.ttf") format("truetype");
    }
}

@media screen and (max-width:700px) {
    .set-width{
        width: 300px;
    }
  }
  @media screen and (min-width:500px) {
    .full{
        width: 500px;
        height: 100vh;
    }
  }
